---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-7 order-1 order-md-1">
            <center><h1>Vote Audrey Lukasak<br>for<br>Circleville 3rd Ward<br><br>
            Serving people,<br>not parties</h1></center>
      
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-5 order-2 order-md-2 position-relative">
        <img src="{{ page.intro_image | relURL }}" class="img-fluid"/>

      </div>
      {% endif %}
    </div>    
  </div>
</div>
<div class="content">
    <div class="container"">
        {{ content }}
    </div>
</div>
